/* Profile Picture Page */
.profile-picture-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  button {
    margin-top: 20px;
    padding: 12px 20px;
  }
  